.card-container {perspective: 100;}
.card-container:hover .sides {transform: rotateY(180deg);}
.card-container, .front, .back {
  width: 320px;
  height: 480px;
}
.sides {
  position: relative;
  transform-style: preserve-3d;
  transition: .6s;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  background: url(http://static.tvtropes.org/pmwiki/pub/images/4567_400x600.jpg) no-repeat;
  background-size: 100% 100%;
  transform: rotateY(0deg);
}
.back {
  background: url(http://i1-news.softpedia-static.com/images/news2/Superman-Explained-Why-the-Red-Undies-over-the-Costume-2.jpg) no-repeat;
  background-size: 100% 100%;
  transform: rotateY(180deg);
}
